In [ ]:
!pip install textract
!pip install resume-parser
!pip install pyresparser

In [ ]:
data2 = resumeparse.read_file('/content/Aaqib Qadeer Soomro CV.pdf')
data2

In [46]:
#!pip install -U spacy==2.3.1
!python -m spacy validate
!python -m spacy download en

✔ Loaded compatibility table

====================== Installed models (spaCy v2.3.1) ======================
ℹ spaCy installation: /usr/local/lib/python3.7/dist-packages/spacy

TYPE      NAME             MODEL            VERSION
package   en-core-web-sm   en_core_web_sm   2.3.1   ✔

In [ ]:
from google.colab import files
files.upload()

In [ ]:
!pip install resume-parser

In [ ]:
import nltk
!python -m nltk.downloader stopwords
!python -m nltk.downloader punkt
!python -m nltk.downloader averaged_perceptron_tagger
!python -m nltk.downloader universal_tagset
!python -m nltk.downloader wordnet
!python -m nltk.downloader brown
!python -m nltk.downloader maxent_ne_chunker
!python -m spacy download en_core_web_sm

In [92]:
import pandas as pd
import re
import textract
import string
from resume_parser import resumeparse
from pyresparser import ResumeParser
import numpy as np

In [28]:
df = pd.read_csv('https://raw.githubusercontent.com/Somesh-Pillai/NLP-Projects/main/UpdatedResumeDataSet.csv')

In [29]:
df.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

In [12]:
df.shape

(962, 2)

In [42]:
web_designing_cvs = df[df['Category'] == 'Web Designing']

In [43]:
web_designing_cvs.shape

(45, 2)

In [74]:
web_designing_cvs['label'] = [x[0]>5 for x in web_designing_cvs['label']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [79]:
web_designing_cvs.to_csv('/content/web_resumes')

In [73]:
[x[0]>5 for x in web_designing_cvs['label']]

45

In [ ]:
a = [getScore(x) for x in web_designing_cvs['Resume']]
a

In [55]:
def formatText(text):
  # Convert all strings to lowercase
  formattedText = text.lower()

  # Remove numbers
  formattedText = re.sub(r'\d+','',formattedText)

  # Remove punctuation
  formattedText = formattedText.translate(str.maketrans('','',string.punctuation))

  return formattedText

In [59]:
def getScore(text):

  education = 0
  skills = 0
  project = 0
  exp = 0
  #TODO:
  # awards & achievements
  # certification

  scores = []

  keywords = {
      'skills': ['react', 'angular', 'vue', 'node,', 'nodejs', 'javascript',
                'typescript', 'data structures', 'oop', 'problem solving', 'design patterns', 'html',
                 'css', 'css3', 'php', 'photoshop', 'git', 'bootstrap', 'jquery', 'adobe'],
      'education': ['bachelor', 'master', 'phd'],
  }

  #TODO:
  #keywords = {
    #skills: {
        #engineer: {
            #frontend: [],
            #backend: [],
            #other: [],
        #},
        #hr: {}
    #}
  #    education: ['bachelor', 'master', 'phd'],
  #    positions = ['associate', 'mid-level', 'senior', 'principal']
  #}

  ## assumption 
  # - all skills are equal weight
  # - if someone has entered the phd, he has also entered the bachelors and masters

  text = formatText(text)
  for area in keywords.keys():
      if area == 'skills':
          for word in keywords[area]:
              if word in text:
                  skills +=1
          scores.append(skills)
          
      elif area == 'education':
          for word in keywords[area]:
              if word in text:
                  education +=1
          scores.append(education)
  return scores

In [3]:
data = ResumeParser('/content/Aaqib Qadeer Soomro CV.pdf').get_extracted_data()

/usr/local/lib/python3.7/dist-packages/spacy/util.py:275: UserWarning: [W031] Model 'en_training' (0.0.0) requires spaCy v2.1 and is incompatible with the current spaCy version (2.3.1). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [4]:
data

{'college_name': None,
 'company_names': ['Standford University'],
 'degree': ['Bachelor of Computer Science'],
 'designation': ['Software Engineer'],
 'email': 'aaqibqs@gmail.com',
 'experience': ['\uf0b7  Working on the portal application which connects the product, with different organizations, & users.',
  '\uf0b7  Developing frontend functionalities using Vue.js.',
  '\uf0b7  Day to day work involves adding new features, removing bugs, integrating with backend and',
  'enhancing the functionality as required.',
  '\uf0b7  Give daily report to management regarding current developments in software',
  '\uf0b7  Key achievement: Created a portal app using Vue. Designed database schemas, defined the structure',
  'for the API’s.',
  'Plero.co - Lahore, Pakistan',
  'Software Engineer',
  'MAY 2020 – DEC 2020',
  '\uf0b7  Working on the multiple variations of large scale e-commerce project',
  '\uf0b7  Developing frontend functionalities using Angular and API’s using Ruby on Rails',
  '\uf0b7  Day to day work involves adding new features, removing bugs and enhancing the functionality as',
  'required',
  '\uf0b7  Give weekly report to management regarding current developments in software',
  '\uf0b7  Key achievement: Helped the company to maintain multiple variations of large scale project and',
  'completed every request for the new feature within deadline.',
  '\uf0b7  Technologies: HTML, CSS, Javascript, Typescript, Angular, Bootstrap, Ruby on Rails',
  '\uf0b7  Collaboration Tools: Git & bitbucket, Pivotal tracker, Asana, Slack',
  'Programming:  OOP, Data Structure, Algorithm, Design Pattern & Database',
  'TECHNICAL PROFICIENCIES',
  'Languages:  C++, Javascript, Python',
  'Web:  HTML, CSS, Boostrap, React.js, Angular, Vue.js',
  'Data Analytics:  Scikit-Learn, NumPy, Pandas, Machine Learning',
  'Database:  SQL, MySQL, SQL Server, MongoDB',
  'Other:  Git',
  '…continued…',
  'Aaqib Qadeer Soomro \uf0b7 Page 2'],
 'mobile_number': '332-3941014',
 'name': 'Aaqib Qadeer',
 'no_of_pages': 2,
 'skills': ['Pandas',
  'Database',
  'Vue.js',
  'Ui',
  'Ruby',
  'Analytics',
  'Api',
  'Pattern',
  'Design',
  'Programming',
  'Html',
  'Technical',
  'Sql server',
  'Machine learning',
  'Css',
  'Javascript',
  'Certification',
  'Sql',
  'Computer science',
  'Numpy',
  'Website',
  'Mysql',
  'C++',
  'Python'],
 'total_experience': 0.58}

In [39]:
data = pd.DataFrame(scores,index=keywords.keys(),columns=['score']).sort_values(by='score',ascending=False)
data

           score
skills         3
education      0

In [80]:
data = pd.read_csv('./web_resumes')

In [81]:
data.head()

   Unnamed: 0  ...  label
0         140  ...   True
1         141  ...   True
2         142  ...   True
3         143  ...  False
4         144  ...   True

[5 rows x 4 columns]

In [82]:
data = data[['Resume', 'label']]
data.head()

                                              Resume  label
0  Technical Skills Web Technologies: Angular JS,...   True
1  Education Details \r\n B.C.A Bachelor Computer...   True
2  Technical Skills Web Technologies: Angular JS,...   True
3  Education Details \r\nJanuary 2016 B.Sc. Infor...  False
4  IT SKILLS Languages: C (Basic), JAVA (Basic) W...   True

In [84]:
scores = [getScore(x) for x in data['Resume']]

In [88]:
feature_set = pd.DataFrame(scores)
feature_set.columns = ["skills", "education"]
feature_set['label'] = data['label']

In [93]:
feature_set['label'] = np.where(feature_set['label']==True, 1, 0)
feature_set.head()

   skills  education  label
0       9          0      1
1       7          1      1
2       9          0      1
3       1          0      0
4       7          1      1

In [111]:
x_train, x_test, y_train, y_test = data_split(feature_set, 'label')

In [ ]:
x_train

In [101]:
clf = train(x_train, y_train)

In [103]:
Score(clf,x_train,y_train,x_train,y_train)

========================================
Training Accuracy of our model is: 1.0
Test Accuracy of our model is: 1.0
========================================

In [107]:
import pickle
filename = 'model.sav'
pickle.dump(clf, open(filename, 'wb'))

In [116]:
filename = 'model.sav'
model = pickle.load(open(filename, 'rb'))
result = model.score(x_test.values, y_test.values)

In [117]:
result

1.0

In [118]:
y_test.values

array([1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1])

In [38]:
def transform(dataframe):
    
    
    ## Import LabelEncoder from sklearn
    from sklearn.preprocessing import LabelEncoder
    
    le = LabelEncoder()
    
    
    ## Select all categorcial features
    categorical_features = list(dataframe.columns[dataframe.dtypes == object])
    
    
    ## Apply Label Encoding on all categorical features
    return dataframe[categorical_features].apply(lambda x: le.fit_transform(x))

In [96]:
def data_split(df, label):
    
    from sklearn.model_selection import train_test_split

    X = df.drop(label, axis=1)
    Y = df[label]

    x_train, x_test, y_train, y_test = train_test_split(X,Y,random_state=0)
    
    return x_train, x_test, y_train, y_test



# x_train, x_test, y_train, y_test = data_split(df_subset, 'is_canceled')

In [100]:
def train(x_train, y_train):
    from sklearn.tree import DecisionTreeClassifier

    clf = DecisionTreeClassifier(random_state=0)
    clf.fit(x_train,y_train)
    
    return clf

In [102]:
def Score(clf,x_train,y_train,x_test,y_test):
    train_score = clf.score(x_train,y_train)
    test_score = clf.score(x_test,y_test)

    print("========================================")
    print(f'Training Accuracy of our model is: {train_score}')
    print(f'Test Accuracy of our model is: {test_score}')
    print("========================================")
    
    
# Score(clf,x_train,y_train,x_train,y_train)

In [104]:
## Getting Prediciton of 10th record of x_train
prediction = clf.predict(x_train.iloc[10].values.reshape(1,-1))

## Actual Value of 10th record of x_train from y_train
actual_value = y_train.iloc[10]

print(f'Predicted Value \t: {prediction[0]}')
print(f'Actual Value\t\t: {actual_value}')

Predicted Value 	: 1
Actual Value		: 1